* {
	border: 1px dashed #0000FF;
}
body {
}

.content {
	background: rgba(56, 63, 55, 0.73);
	width: 100%;	
	padding-bottom: 30px;
}

.container-content {
	margin-top: 0;
	padding-top: 40px;
	background: green;
}

.text-title {
	text-align: center;
	background: blue;
}

.image {
	vertical-align:middle;
	max-width: 600px;
	max-width: 400px;
	color: white;
}

div > h2 {
	font-size: 50px;
}

div > h3 {
	margin-top: 0px;
	padding-top: 0px;
}

#Carousel {
	margin-top: 30px;
}

.title-gallery {
	/*background: red;*/
	margin-top: 15px;
	/*color: white;*/
	text-align: center;
	font-family: Time New Roman;
}

.gallery {
	/*background: red;*/
	margin-top: 15px;
	margin-bottom: 50px;
}

.section {
	margin-top: 51px;
	margin-bottom: 55px;
}